<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jpa</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <!--配置 方言: 数据库类别-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!--可选配置-->
        <!--打印 sql-->
        <property name="hibernate.show_sql">true</property>
        <!--格式化 sql-->
        <property name="hibernate.format_sql">true</property>
        <!--自动创建表:
           常用
                update: 有则不变, 无则创建. 如果映射与 数据库中的 column 不匹配, 会创建新的 column
                validate: 校验映射和表结构是否一致, 只会使用原有表, 且 mapping 必须与 数据库中的 column 完全一致, 否则会报错
           少用
                create: 先删除, 再创建
                create-drop: 新建并删除(测试使用)
                none: 不创建, 没有就报错
            hibernate mapping to ddl
         -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--映射文件-->
        <mapping resource="hibernate-mapping.xml"/>
    </session-factory>
</hibernate-configuration>